@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
  background: #f4d04e;
  font-family: "Figtree", sans-serif;
  color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.card {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 1.2rem;
  border: 2px solid #121212;
  box-shadow: 0.7rem 0.7rem black;
  transition: 0.2s;
  max-width: 24rem;
  gap: 0.9rem;
}

.card:hover {
  transform: translate(10px, 10px);
  box-shadow: none;
}

.card:active .title {
  color: #f4d04e;
}

.thumbnail {
  border-radius: 0.8rem;
}

.learning-state {
  background: #f4d04e;
  width: fit-content;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 900;
  font-size: clamp(0.7rem, 3.5vw, 0.9rem);
  border-radius: 0.4rem;
}

.published-date {
  font-weight: 500;
  font-size: clamp(0.7rem, 3.5vw, 0.9rem);
}

.title {
  font-size: clamp(1.15rem, 5.75vw, 1.5rem);
  font-weight: 800;
}

.description {
  font-size: clamp(0.8rem, 3.85vw, 1rem);
  font-weight: 500;
  color: #6b6b6b;
}

.author {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.avatar {
  border-radius: 50%;
  max-height: 2rem;
}

.author-name {
  font-weight: 800;
  font-size: clamp(0.8rem, 3.85vw, 1rem);
}
